@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    scrollbar-gutter: auto !important; 
    /* tailwind会自动stable，防止布局被滚动条打乱，但是我觉得右边的gutter太丑了 */
}

.ellipsis {
    @apply text-ellipsis overflow-hidden whitespace-nowrap
}